<meta charset="UTF-8">
<!-- full-size monitor style sheet--> 
<link href="Content/Homepage.css" rel="stylesheet" type="text/css"> 
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>All about Soccer</title>
    <body>
        <div id="wrapper">
            <div id="banner" style="text-align:center; margin:0 auto;">
                <br>
                <h1>OT Rangers</h1>
        </div>
        <div id="column" text-align: center;> 
            <div class="box"><h2>Project Guide</h2><!-- bottom 1 -->
                <a href="projectguide">
                    <img alt="Homepage" src="Assets/images/2048px-Go-home.svg.png"
                    width="150" height="150">
                </a></div> 
            <div class="box"><h2>About The Team</h2><!-- bottom 2-->
                <a href="about">
                    <img alt="About The Team" src="Assets/images/logo.png"
                    width="150" height="150">
                </a></div> 
            <div class="box"><h2>Achievement Showcase</h2><!-- bottom 3-->
                <a href="achievements">
                    <img alt="Achievemnt Showcase" src="Assets/images/trophy.jpg"
                    width="150" height="150">
                    </a></div> 
            <div class="box"><h2>Team Analysis</h2><!-- bottom 4-->
                <a href="crud">
                    <img alt="field" src="Assets/images/analysis.jpg"
                    width="150" height="150">
                </a></div> 
        </div> 
        <div id="footer"> 
            <h2>We Are The Together</h2>
        </div>
    </body>
</html>