<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>
<link rel="stylesheet" type="text/css" href="Content/app.css">
</head>
           <main>

            <div class="achheader">
            <br>
           <h1> Achievements our team has earned </h1>
            </div>
               <div class="col col1">
                   <h2>World Cup</h2>
                   <p>Our team won the 2022/23 World Cup. It was a historical moment in soccer history.</p>
               </div>
               <div class="col col2">
                   <h2>Ballon D'Or</h2>
                <p>Our team earned a Ballon D'Or</p>
                <p>The Ballon d'Or is an annual football award presented by French news magazine France Football since 1956. Between 2010 and 2015, in an agreement with FIFA, the award was temporarily merged with the FIFA World Player of the Year and known as the FIFA Ballon d'Or.</p>
                </div>
               <div class="col col3">
                   <h2>FIFA World Player</h2>
                 <p>The FIFA World Player of the Year award is given annually to the football player who is thought to be the best in the world.</p>
               </div>
           </main>

<br>
<br>
<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>