<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<head>
    <title>
        Fancy Soccer Club
    </title>
    <link rel="stylesheet" type="text/css" href="Content/style.css">
</head>

<body>

	<h1><center>Add Players</center></h1>
	<hr>
			<div class="player-form">
                <form onsubmit="event.preventDefault();onFormSubmit();" autocomplete="off">
                    <div>
                        <label>Full Name*</label><label class="validation-error hide" id="fullNameValidationError">This field is required.</label>
                        <input type="text" name="fullName" id="fullName">
                    </div>
                    <div>
                        <label>Email Id</label>
                        <input type="text" name="email" id="email">
                    </div>
                    <div>
                        <label>Salary</label>
                        <input type="text" name="salary" id="salary">
                    </div>
                    <div>
                        <label>Player Number</label>
                        <input type="text" name="playerno" id="playerno">
                    </div>
                    <div  class="form-action-buttons">
                        <input type="submit" value="Submit">
                    </div>
                </form>
		</div>
		<br/>
		<div class = "player-table">
                <table class="list" id="playerList">
                    <thead>
                        <tr>
                            <th>Full Name</th>
                            <th>Email Id</th>
                            <th>Salary</th>
                            <th>Player Number</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
        </div>
    <script src="script.js"></script>
</body>
</html>
<input type="text" name="fullName" id="fullName">
<input type="text" name="email" id="email">
<input type="text" name="salary" id="salary">
<input type="text" name="playerno" id="playerno">

<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>
