<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="Content/app.css">
<!-- Main Content -->
<body>
  <div class="main">

      <div class="landing">

      
        <h2>Welcome to Our Soccer Page</h2>
        <p>Something about how amazing and cool this specific team is, or maybe about how we are all very passionate about a specific team or smthn</p>
      
      <img src="https://pbs.twimg.com/media/Ea9u99pXkAAed5r.jpg" width="100%" height="300">
      
      </div>

</div>
</body>
<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>


