<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="Content/app.css">
<!-- Main Content -->
<body>
  <div class="main">

      <div class="landing">

      
        <h2>Welcome to Our Soccer Page</h2>
        <p> This webpage is a combined effort to display our understanding of HTML, Javascript, CSS and more. Our project is an all encompassing final work that displays our level of understanding. We chose to go with a Soccer themed single-page application due to current world affairs (FIFA World Cup), as well as our personal interests. We hope you enjoy your time on our webpage, and are able to share our passion and excitement for this topic. For navigation purposes: this page -called project guide- serves as a guide for all the links and a platform for our demo video. The about page showcases our players, the team analysis page contains our crud and last but not least the achievements page showcase our team's achievements. Members involved include: Sri Sanjana Baddukonda, Edmund Gao, Dharun Raju, Ruby Martins-Ogenyi, Quratulain Qurat-Ul-Ain.</p>
        <br>
        <p> enjoy our demo video </p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/_mxoNH4Ba4I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

</div>
</body>
<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>


