
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Content/login.css">
   </head>

<body>
  <!-- registration form -->
  <div class="register">
    <h2>Registration</h2>
    <form action="#">
      <div class="input-box">
        <input type="text" placeholder="Enter your name" required>
      </div>
      <div class="input-box">
        <input type="email" placeholder="Enter your email" required>
      </div>
      <div class="input-box">
        <input type="password" placeholder="Create password" required>
      </div>
      <div class="input-box">
        <input type="password" placeholder="Confirm password" required>
      </div>
      
      <div class="input-box button">
        <input type="Submit" value="Register Now">
      </div>
      <div class="text">
      <!-- redirect user back to login -->
        <p>Already have an account? <a href="login">Login now</a></p>
      </div>
    </form>
  </div>

</body>

