
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Content/login.css">
   </head>

<body>
  <!-- registration form -->
  <div class="register">
    <h2>Registration</h2>
      <form id="registerform" onsubmit=" return validateForm()">
        First name:<br>
        <label>
        Name:<br>
          <input type="text" required="required" name="getfirstname">
        </label><br>
        Email:<br>
        <input type="email" required="required" name="email"/><br>
        Password:<br>
        <input type="password" required="required" name="password"/><br>
        Password retype:<br>
        <input type="password" required="required" name="password2"/><br>
        <input type="submit"  value="Submit">
      </form>
  </div>

</body>

<script>
function validateForm() {
var x = document.forms["registerform"]["password"].value;
var y = document.forms["registerform"]["password2"].value;
if (y != x){
    alert("The passwords do not match. Please try again!");
    return false;
}
}
</script>