@charset "UTF-8";

body{
  background-color: #191923;
  font-size: x-large;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

  .landing{
    width: 85%;
    margin: 50px auto;
  }
  
  .landing {
    animation: fadeIn 0.8s ease-in-out;
  }
  
  .landing  h2{
    color: #f9f6f1;
    margin-top: 50px;
    margin-bottom: 20px;
  }
  
  .landing p{
    font-size: x-large;
    margin: 15px 0;
    color: #f5f3ef;
  }

/**about**/
/* Three columns side by side */
.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 30px;
}

/**about team**/

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    display: block;
    padding: 10px;
  }
}

img {
  border-radius: 5%;
  display: flex;
  width: 100%;
  padding: 15px; 
}

/* Add some shadows to create a card effect */
.card {
  border-radius: 25px;
  animation: fadeIn 0.8s ease-in-out;
  box-shadow: 0 4px 8px 0 rgba(215, 207, 207, 0.2);
}

/* Some left and right padding inside the container */
.container {
  padding: 20px;
}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}


/*responsive*/
*{box-sizing:border-box}
footer{color: #fbfbfb; font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; text-align: center; padding: 2em 0;}

main{
width:94.75%;
margin: 0 auto;
overflow: hidden;
}

.col{
  width: 30%;
  height:570px;
  float: left;
  text-align: center;
  padding: 5px;
  margin: 25px;
  animation: fadeIn 0.8s ease-in-out;
}


.col h2{
  padding: 10%
}

.col1{border-radius: 0.5rem;
   background: #99989e;}
.col2{ background: #aeacb4;
  border-radius: 0.5rem;}
.col3{ background: #c1c0c7;
  border-radius: 0.5rem;}

footer{
  clear:both;
}

.achheader{
  color: #f5f3ef;
  text-align: center;
}